In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Historical Product Demand.csv')

In [3]:
data.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

In [4]:
data.shape

(1048575, 5)

In [5]:
data.Date = pd.to_datetime(data.Date)

In [6]:
data.Date.min(), data.Date.max()

(Timestamp('2011-01-08 00:00:00'), Timestamp('2017-01-09 00:00:00'))

In [15]:
data.Date.min().month

1

In [7]:
data.Product_Code.nunique()

2160

In [8]:
data.describe()

<ipython-input-8-2bb0b18689d4>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe()

,Product_Code,Warehouse,Product_Category,Date,Order_Demand
count,1048575,1048575,1048575,1037336,1048575
unique,2160,4,33,1729,3828
top,Product_1359,Whse_J,Category_019,2013-09-27 00:00:00,1000
freq,16936,764447,481099,2075,112682
first,NaN,NaN,NaN,2011-01-08 00:00:00,NaN
last,NaN,NaN,NaN,2017-01-09 00:00:00,NaN

In [13]:
data.Order_Demand = data.Order_Demand.astype(float)

ValueError: could not convert string to float: '(1)'

In [11]:
data.isna().sum()

Product_Code            0
Warehouse               0
Product_Category        0
Date                11239
Order_Demand            0
dtype: int64

In [ ]:
Data column has 11k missing rows